# sphinx pluginの設定

defaults: &defaults

  server:
    #公開ディレクトリのルート
    document_root_path: /var/www/
    #ドキュメントを設置するディレクトリ名
    sphinx_dir: redminetest
    #html表示サーバのポート番号
    server_port: 80

  sphinx:
    sphinx_makefile_head: '# Makefile for Sphinx documentation'
    build_dir_variable_name: 'BUILDDIR'
    sphinx_index_page: index.html

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults